.movie-card {
  /* width: 210px; */
  width: 240px;

  flex-shrink: 0;

  display: inline-flex;
  flex-direction: column;
}

.poster-wrapper {
  position: relative;

  width: 100%;
  /* height: 315px; */
  height: 300px;

  overflow: hidden;

  border: 1px solid transparent;
  border-radius: 18px;

  cursor: pointer;

  transition: border-color .25s ease;
}

.poster-wrapper:hover {
   border-color: rgba(255,255,255,.15);
}

.movie-poster {
  width: 100%;
  height: 100%;

  object-fit: cover;

  display: block;

  transition: transform 0.8s ease;
}

.poster-wrapper:hover .movie-poster {
  transform: scale(1.05 );
}

.rating-badge {
  position: absolute;

  top: 12px;
  right: 12px;

  padding: 6px 10px;

  border-radius: 999px;

  background: rgba(0, 0, 0, 0.55);

  backdrop-filter: blur(10px);

  color: rgb(254, 231, 231);

  font-size: 0.80rem;
  font-weight: 600;
}

.movie-info {
  margin-top: 0.55rem;
  padding: 0 8px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12px;
}

.movie-info h3 {
  margin: 0;

  flex: 1;

  /* color: #2e2020; */
  color: var(--text-primary);

  font-size: 1.07rem;
  font-weight: 600;

  line-height: 1.3;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  overflow: hidden;
}

.movie-card:hover .movie-info h3 {
   color: #b81a1a;
   font-weight: 900;
}

.movie-info p {
  margin: 0;

  flex-shrink: 0;

  /* color: #5f4a4a; */
  color: var(--text-secondary);

  font-size: 0.9rem;
  font-weight: 600;
}

.movie-info h3,
.movie-info p {
  cursor: pointer;
}