.skeleton {
  position: relative;
  overflow: hidden;

  background: var(--skeleton-bg);
}

.skeleton::after {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    110deg,
    transparent 20%,
    var(--skeleton-shimmer) 50%,
    transparent 80%
  );

  transform: translateX(-100%);

  animation: shimmer 1.4s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}