.filter-group {
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.filter-group-header {
  width: 100%;

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 16px 0;

  background: none;

  border: none;

  color: var(--text-red2);

  font-size: 1.15rem;

  font-weight: 700;

  cursor: pointer;
}

.arrow {
  transition: 0.25s;
}

.arrow.open {
  transform: rotate(180deg);
}

.filter-group-body {
  padding-bottom: 18px;
}
