.person-search-wrapper{
    position:relative;
    margin: 20px 0;
}

.person-search:hover{

    border-color:rgba(255,255,255,.15);
}

.person-search:focus{

    border-color:#e50914;

    box-shadow:0 0 0 3px rgba(229,9,20,.15);
}

.person-search{
    width:100%;
    height:42px;

    padding:0 14px;

    border:none;
    outline:none;

    border-radius:12px;

    background:rgba(255,255,255,.05);

    color:var(--text-primary);
}

.person-search::placeholder{
    color:var(--text-secondary);
}

.person-dropdown{

    position:absolute;

    top:48px;
    left:0;
    right:0;

    max-height:220px;

    overflow-y:auto;

    border:1px solid rgba(255,255,255,.08);

    border-radius:14px;

    background:var(--bg-secondary);

    backdrop-filter:blur(20px);

    z-index:100;
}

.person-option{

    width:100%;

    padding:12px 16px;

    border:none;

    background:none;

    color:var(--text-primary);

    text-align:left;

    cursor:pointer;

    transition:.2s;
}

.person-option:hover{

    background:rgba(229,9,20,.12);

    color:var(--text-red);
}


.person-dropdown::-webkit-scrollbar {
  width: 7px;
}
.person-dropdown::-webkit-scrollbar-track {
  background: transparent;
}
.person-dropdown::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .12);
  border-radius: 999px;
}
.person-dropdown::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, .25);
}