@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #ec2630;
  --red2: #ca2121;
  --red3: #e50914;

  /* backgrounds */
  --bg-primary: rgb(177, 161, 161);
  --bg-secondary: #ffffff;

  /* text */
  --text-primary: #2e2020;
  --text-secondary: #654f4f;

  /* glass */
  --glass-bg: rgba(255, 255, 255, 0.08);
  --glass-border: rgba(0, 0, 0, 0.12);

  /* buttons */
  --button-bg: rgba(0, 0, 0, 0.08);
  --modal-bg:
    linear-gradient(180deg,
      rgba(195, 180, 180, 0.95),
      rgba(170, 155, 155, 0.95));
  --chip-bg: rgba(255, 255, 255, 0.18);

  /* brand */
  --accent: #e50914;
  --pagination-dot: rgba(0, 0, 0, 0.35);
  --progress-dot: rgba(0, 0, 0, 0.35);

  /* Hero Slider section */
  --hero-bottom-fade: rgb(177, 161, 161);
  --hero-arrow-hover: rgba(0, 0, 0, 0.38);

  /* skeleton */
  --skeleton-bg: #9f8989;
  --skeleton-shimmer: rgba(255, 255, 255, 0.65);

  /* Discover dropdown */
  --dropdown-bg: rgba(245, 236, 236, 0.97);
  --dropdown-border: rgba(74, 49, 49, 0.14);
  --dropdown-hover: rgba(46, 32, 32, 0.07);
  --dropdown-active: rgba(236, 38, 48, 0.11);
  --dropdown-shadow: rgba(46, 32, 32, 0.18);

  --panel-bg: rgba(255, 255, 255, 0.20);

  /* Login/register */
  --authh-bg: rgba(255, 255, 255, 0.75);
}

body.dark {
  --bg-primary: rgb(20, 16, 16);
  --bg-secondary: #201818;

  --text-primary: #ffe6e6;
  --text-secondary: rgba(255, 236, 236, 0.7);

  /* glass */
  --glass-bg: rgba(255, 255, 255, 0.08);
  --glass-border: rgba(255, 255, 255, 0.08);

  --button-bg: rgba(255, 255, 255, 0.08);

  --modal-bg:
    linear-gradient(180deg,
      rgba(22, 22, 22, 0.88),
      rgba(10, 10, 10, 0.92));

  --chip-bg: rgba(255, 255, 255, 0.05);

  --pagination-dot: rgba(255, 255, 255, 0.5);

  --progress-dot: rgba(255, 255, 255, 0.3);

  /* Hero Slider section */
  --hero-bottom-fade: rgb(20, 16, 16);
  --hero-arrow-hover: rgba(255, 255, 255, 0.22);

  /* skeleton */
  --skeleton-bg: #271e1e;
  --skeleton-shimmer: rgba(255, 255, 255, 0.12);

  /* Discover dropdown */
  --dropdown-bg: rgba(31, 24, 24, 0.98);
  --dropdown-border: rgba(255, 230, 230, 0.1);
  --dropdown-hover: rgba(255, 230, 230, 0.07);
  --dropdown-active: rgba(236, 38, 48, 0.16);
  --dropdown-shadow: rgba(0, 0, 0, 0.45);

  --panel-bg: rgba(255, 255, 255, .04);
  
  /* Login/register */
  --authf-bg: rgba(32, 24, 24, 0.85);
}


body {
  font-family: "Manrope", sans-serif;
  /* background: rgb(177, 161, 161); */
  background: var(--bg-primary);

  transition:
    background 0.3s ease,
    color 0.3s ease;
}