@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  /* backgrounds */
  --bg-primary: rgb(177, 161, 161);
  --bg-secondary: #ffffff;

  /* text */
  --text-primary: #2e2020;
  --text-secondary: #6b5656;

  /* glass */
  --glass-bg: rgba(255,255,255,0.08);
  --glass-border: rgba(0,0,0,0.12);

  /* buttons */
  --button-bg: rgba(0,0,0,0.08);

  --modal-bg:
    linear-gradient(
      180deg,
      rgba(195,180,180,0.95),
      rgba(170,155,155,0.95)
    );

  --chip-bg: rgba(255,255,255,0.18);

  /* brand */
  --accent: #e50914;

  --pagination-dot: rgba(0, 0, 0, 0.35);

  --progress-dot: rgba(0,0,0,0.35);

  /* Hero Slider section */
  --hero-bottom-fade: rgb(177, 161, 161);

  --hero-arrow-hover: rgba(0,0,0,0.38);
}

body.dark {

  --bg-primary: rgb(20, 16, 16);
  --bg-secondary: #201818;

  --text-primary: #ffe6e6;
  --text-secondary: rgba(255, 236, 236, 0.7);

  --glass-bg: rgba(255,255,255,0.08);
  --glass-border: rgba(255,255,255,0.08);

  --button-bg: rgba(255,255,255,0.08);

  --modal-bg:
    linear-gradient(
      180deg,
      rgba(22,22,22,0.88),
      rgba(10,10,10,0.92)
    );

  --chip-bg: rgba(255,255,255,0.05);

  --pagination-dot: rgba(255, 255, 255, 0.5);

  --progress-dot: rgba(255,255,255,0.3);

  /* Hero Slider section */
  --hero-bottom-fade: rgb(20, 16, 16);

  --hero-arrow-hover: rgba(255,255,255,0.22);
}


body {
  font-family: "Manrope", sans-serif;
  /* background: rgb(177, 161, 161); */
  background: var(--bg-primary);

  transition:
    background 0.3s ease,
    color 0.3s ease;
}
